/* header */
header nav .logo img {
    width: 75px;
}

header .carousel img{
    width: 1300px;
    height: 545px;
}

nav{
    background-color: #0066B3;
}
nav .menu a{
    color: white !important;
}

.dropdown-menu {
    --bs-dropdown-bg :#0d6efd;
}
/* main */
main {
    background: #fff;
}

#layanan{
    margin-top: 50px;
}
#layanan .list_layanan li{
    list-style: none;
}
#testimoni{
    margin-top: 50px;
}
/* footer */

footer {
    background-color: #0066B3;
    color: white;

  
}

footer #footer_contain{
    padding-top: 25px;
}

footer #footer_contain .nav_footer a{
    text-decoration: none;
    color: white;

}

/* login page */
div#login {
    margin: 126px 503px;
    width: 30%;
}

/* dashboard admin */
#list_dashboard li {list-style: none;width: 100%;text-align: left;padding: 10px;background: #ded9d9;margin-top: 5px;}

#list_dashboard li:hover{
    background:orange;
}

#list_dashboard li a {
    text-decoration: none;
    padding: 5px 10px;
    color: black;
}


.menu_dashboard #list_dashboard {
    padding-left: 0;
    padding-top: 10px;
}

.content_dashboard {
    margin-top: 14px !important;
    background: azure;
}

.content_dashboard form {
    padding-top: 10px;
}

.content_dashboard form label {
    font-weight: bold;
    color: #1e5474;
}

.content_dashboard form .element_status {
    display: block;
}
/* search */
main select#menu_search {
    margin: 50px 0 0 70px;
    width: 500px;
}
/* list kategori */
.frame-tambah {
    text-align: right;
    padding-bottom: 15px;
    padding-top: 10px;
}

/* form pelatihan */
.content_dashboard .input_gambar {
    width: 250px;
}

/* page pelatihan */
.card_pelatihan a {
    text-decoration: none;
    color: black;
}